.solid {
	border-style: solid;
	border: 1px solid black;
}

.not-displayed {
	display: none;
}

.nav-pills>li>a {
	color: black !important;
	font-size: 1.1rem;
}

.nav-pills>li>a.active,
.nav-pills>li>a:focus {
  background-color: #6c757d !important;
  color: white !important;
}

.nav-pills>li>a:hover {
	background: rgba(108, 117, 125, .75) !important;
	color: white !important;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 2;
  left: 50%;
  transform:translate(-50%, -50%);
  top: 5em;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 5em; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 5em; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 5em; opacity: 1;} 
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 5em; opacity: 1;}
  to {top: 0; opacity: 0;}
}