<!DOCTYPE HTML>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/custom.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">FEbay</a> 
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="navbarToggler">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="nav navbar-nav ml-auto">
            <li><a class="nav-link" id="account" href="account">My Account</a></li>
            <li><a class="nav-link" id="cart" href="cart">Shopping Cart</a></li>
            <li><a class="nav-link not-displayed" id="signUp" href="register">Sign Up</a></li>
            <li><a class="nav-link not-displayed" id="logIn" href="login">Login</a></li>    
          </ul>
      </div>  
    </nav>
    <div class="container mt-5">
      <ul class="nav nav-pills border-dark border-bottom p-2" id="editAccountTabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="passwordTab" data-toggle="tab" href="#passwordInfo" role="tab" aria-controls="passwordTab" aria-selected="true">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="addressTab" data-toggle="tab" href="#addressInfo" role="tab" aria-controls="addressTab" aria-selected="false">Address</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="creditCardTab" data-toggle="tab" href="#creditCardInfo" role="tab" aria-controls="creditCardTab" aria-selected="false">Payment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="reviewTab" data-toggle="tab" href="#reviewInfo" role="tab" aria-controls="reviewTab" aria-selected="false">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="orderTab" data-toggle="tab" href="#orderInfo" role="tab" aria-controls="orderTab" aria-selected="false">Orders</a>
        </li>
      </ul>
      <div class="tab-content" id="editAccountTabsContent">
        <div class="tab-pane fade show active" id="passwordInfo" role="tabpanel" aria-labelledby="passwordInfo">
          <form class="container card mt-5 p-3" style="width: 25rem; height: 12rem;">
            <div class="form-group">
                 <label for="password" class="font-weight-bold small">Password</label>
                 <input type="text" class="form-control" id="password" aria-describedby="password" placeholder="" align="center">
            </div>
            <button type="submit" class="btn btn-secondary mt-3" id="updatePasswordBtn">Update</button>
          </form>
        </div>
        <div class="tab-pane fade" id="addressInfo" role="tabpanel" aria-labelledby="addressInfo">
          <form class="container card mt-5 p-3" style="width: 25rem; height: 18rem;">
            <div class="form-group">
                 <label for="shippingAddress" class="font-weight-bold small">Shipping address</label>
                 <input type="text" class="form-control" id="shippingAddress" aria-describedby="shippingAddress" placeholder="" align="center">
            </div>
            <div class="form-group">
                 <label for="billingAddress" class="font-weight-bold small">Billing address</label>
                 <input type="text" class="form-control" id="billingAddress" aria-describedby="billingAddress" placeholder="" align="center">
            </div>
            <button type="submit" class="btn btn-secondary mt-3" id="updateAddressBtn">Update</button>
          </form>
        </div>
        <div class="tab-pane fade d-flex justify-content-center" id="creditCardInfo" role="tabpanel" aria-labelledby="creditCardInfo">
          <form class="card p-3 mt-5 mr-5" style="width: 25rem; height: 24rem">
            <div class="form-group">
                 <label for="CCN" class="font-weight-bold small">Credit card number</label>
                 <input type="text" class="form-control" id="CCN" maxlength="16" aria-describedby="CCN" placeholder="" align="center">
            </div>
            <div class="form-group">
                 <label for="securityCode" class="font-weight-bold small">Security code</label>
                 <input type="text" class="form-control" id="securityCode" maxlength="3" aria-describedby="securityCode" placeholder="" align="center">
            </div>
            <div class="form-group">
                 <label for="expiryDate" class="font-weight-bold small">Expiration date</label>
                 <input type="text" class="form-control" id="expiryDate" maxlength="5" aria-describedby="expiryDate" placeholder="" align="center">
            </div>
            <button type="submit" class="btn btn-secondary mt-3" id="addCreditCardBtn" onclick="return false">Add</button>
            <div id="creditCardStatus"></div>
          </form>
          <table class="table table-striped col-4 mt-5 ml-5" id="creditCardTable">
            <thead>
                  <tr>
                      <th scope="col">CCN</th>
                      <th colspan="2">Expiration Date</th>
                  </tr>
            </thead>
            <tbody id="creditCardTableBody">
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="reviewInfo" role="tabpanel" aria-labelledby="reviewInfo" style="margin-top: -25rem">
          <div class="container d-flex justify-content-center" id="score"><h3>Your Score: 5</h3></div>
          <div class="d-flex justify-content-between">
            <table class="table table-striped col-5 mt-5" id="feedbackForYouTable">
              <thead>
                    <tr>
                        <th colspan="2" class="text-center">Feedback as a seller</th>
                    </tr>
              </thead>
              <tbody id="feedbackForYouTableBody">
              </tbody>
            </table>
            <table class="table table-striped col-5 mt-5" id="feedbackForOthersTable">
              <thead>
                    <tr>
                        <th colspan="2" scope="col" class="text-center">Feedback left for others</th>
                    </tr>
              </thead>
              <tbody id="feedbackForOthersTableBody">
              </tbody>
            </table>
        </div>
      </div>
      <div class="tab-pane fade d-flex justify-content-center" id="orderInfo" role="tabpanel" aria-labelledby="orderInfo" style="margin-top: -25rem">
        <table class="table table-striped col-12 mt-5" id="ordersTable">
          <thead>
                <tr>
                    <th>Order Date</th>
                    <th>Item Details</th>
                    <th>Shipping Address</th>
                    <th>Billing Address</th>
                    <th>Payment</th>
                </tr>
          </thead>
          <tbody id="ordersTableBody">
          </tbody>
        </table>
      </div>
    </div>
  </body>
  <script src="{{url_for('static', filename='js/utils.js')}}"></script>
  <script src="{{url_for('static', filename='js/account.js')}}"></script>
</html>
