<!DOCTYPE HTML>
<html>
	<head>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="../static/css/custom.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/">FEbay</a>
		    </div>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="navbarToggler">
				<span class="navbar-toggler-icon"></span>
				</button>
		    <div class="collapse navbar-collapse" id="navbarToggler">
			    <ul class="nav navbar-nav ml-auto">
			    	<li><a class="nav-link" id="seller" href="seller">Find a Seller</a></li>
			    	<li><a class="nav-link" id="postListing" href="post_item">Post a Listing</a></li>
			    	<li><a class="nav-link" id="cart" href="cart">Shopping Cart</a></li>
					<li><a class="nav-link" id="account" href="account">My Account</a></li>
					<li><a class="nav-link" id="logOut" href="/">Log Out</a></li>
					<li><a class="nav-link not-displayed" id="signUp" href="register">Sign Up</a></li>
					<li><a class="nav-link not-displayed" id="logIn" href="login">Login</a></li>
			    </ul>
			</div>
		</nav>
		<div class="container-fluid w-75 card" style="margin-top: 10em">
			<div class="card-body">
				<form>
					<div class="form-row">
						<div class="form-group col-5">
							<label for="shippingAddress">Shipping Address</label>
							<input type="text" class="form-control" id="shippingAddress" placeholder="">
						</div>
						<div class="form-group col-5">
							<label for="billingAddress">Billing Address</label>
							<input type="text" class="form-control" id="billingAddress" placeholder="">
						</div>

					</div>
					<div class="form-row">
						<div class="form-group dropdown col-5">
							<label for="CCN">Credit card number</label>
			            	<input class="form-control" type="text" id="CCN" maxlength="16" data-toggle="dropdown" placeholder="">
			            	<ul class="dropdown-menu w-100" role="menu" aria-labelledby="menu" id="ccDropdown">

			            	</ul>
			        	</div>
						<div class="form-group col-3">
							<label for="expireDate">Expiration Date</label>
							<input type="text" class="form-control" id="expireDate" maxlength="5" placeholder="">
						</div>
						<div class="form-group col-2">
							<label for="securityCode">Security Code</label>
							<input type="text" class="form-control" id="securityCode" maxlength="3"placeholder="">
						</div>

					</div>
					<div class="container d-flex justify-content-center">
						<div class="form-group p-2" style="display: inline-block">
							<label for="shipmentType">Shipment Type</label>
							<div class="form-check">
							  <input class="form-check-input" name="shipment" type="radio" value="" id="USPS" checked="true">
							  <label class="form-check-label" for="USPS">
							    USPS
							  </label>
							</div>
							<div class="form-check">
							  <input class="form-check-input" name="shipment" type="radio" value="" id="Fedex">
							  <label class="form-check-label" for="Fedex">
							    FedEx
							  </label>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="card-footer" style="background-color: white">
				<div class="text-center" id="grandTotal"><h3>Grand Total:</h3></div>
			</div>
		</div>
		<div class="container d-flex justify-content-center">
			<button type="submit" class="btn btn-secondary" id="checkoutBtn" onclick="return false" style="margin-top: 2em">Checkout</button>
		</div>


	</body>
	<script src="{{url_for('static', filename='js/utils.js')}}"></script>
	<script src="{{url_for('static', filename='js/checkout.js')}}"></script>
</html>
