<!DOCTYPE HTML>
<html>
	<head>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="../static/css/custom.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/">FEbay</a> 
		    </div>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="navbarToggler">
				<span class="navbar-toggler-icon"></span>
				</button>
		    <div class="collapse navbar-collapse" id="navbarToggler">
			    <ul class="nav navbar-nav ml-auto">
			    	<li><a class="nav-link" id="seller" href="seller">Find a Seller</a></li>
			    	<li><a class="nav-link" id="postListing" href="post_item">Post a Listing</a></li>
			    	<li><a class="nav-link" id="cart" href="cart">Shopping Cart</a></li>
					<li><a class="nav-link" id="account" href="account">My Account</a></li>
					<li><a class="nav-link" id="signUp" href="register">Sign Up</a></li>
					<li><a class="nav-link" id="logIn" href="login">Login</a></li>    
			    </ul>
			</div>	
		</nav>
		<div class="container" style="margin-top: 10em">
			<div class="row">
				<div class="col-10">
					<form class="">
						<input type="text" class="form-control" placeholder="Search for a listing...">
					</form>
				</div>
				<div class="col-2 d-flex justify-content-center">
					<div class="dropdown">
					  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    Sort by
					  </button>
					  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					    <a class="dropdown-item" id="ascendingPrice" href="#">Ascending Price</a>
					    <a class="dropdown-item" id="descendingPrice" href="#">Descending Price</a>
					    <a class="dropdown-item" id="ascendingQuantity" href="#">Ascending Quantity</a>
					    <a class="dropdown-item" id="descendingQuantity" href="#">Descending Quantity</a>
					    <a class="dropdown-item" id="ascendingRatings" href="#">Ascending Ratings</a>
					    <a class="dropdown-item" id="descendingPrice" href="#">Descending Ratings</a>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid mt-5">
			<table class="table table-striped col-8 mx-auto" id="listingsTable">
	          <thead>
	                <tr>
	                	<th scope="col" class="text-center"></th>
	                    <th scope="col" class="text-center">Item</th>
	                    <th scope="col" class="text-center">Seller</th>
	                    <th scope="col" class="text-center">Rating</th>
	                    <th scope="col" class="text-center">Quantity</th>
	                    <th scope="col" class="text-center">Price</th>
	                    <th scope="col" class="text-center"></th>
	                </tr>
	          </thead>
	          <tbody id="listingsTableBody">
	          </tbody>
	        </table>
	    </div>
	    <div class="position-fixed" style="bottom: 3em; left: 50%; transform:translate(-50%, 0%); z-index: 1">
	    	<button type="submit" class="btn btn-secondary" id="addToCartBtn">Add To Cart</button>
	    </div>
	    <div id="snackbar"></div>
	</body>
	<script src="{{url_for('static', filename='js/utils.js')}}"></script>
	<script src="{{url_for('static', filename='js/home.js')}}"></script>
</html>