<!DOCTYPE HTML>
<html>
	<head>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="../static/css/custom.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/">FEbay</a> 
		    </div>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="navbarToggler">
				<span class="navbar-toggler-icon"></span>
				</button>
		    <div class="collapse navbar-collapse" id="navbarToggler">
			    <ul class="nav navbar-nav ml-auto">
			    	<li><a class="nav-link" id="seller" href="seller">Find a Seller</a></li>
			    	<li><a class="nav-link" id="postListing" href="post_item">Post a Listing</a></li>
			    	<li><a class="nav-link" id="cart" href="cart">Shopping Cart</a></li>
					<li><a class="nav-link" id="account" href="account">My Account</a></li>
					<li><a class="nav-link" id="logOut" href="/">Log Out</a></li>
					<li><a class="nav-link" id="signUp" href="register">Sign Up</a></li>
					<li><a class="nav-link" id="logIn" href="login">Login</a></li>    
			    </ul>
			</div>	
		</nav>
		<form class="container-fluid d-flex justify-content-center" style="margin-top: 10em" id="searchWrapper" onsubmit="return false">
			<input type="text" class="form-control w-50" placeholder="Search for a seller..." id="search">
		</form>
		<table class="w-50 table table-striped col-12 mt-5 mx-auto not-displayed" id="emailsTable">
			<thead>
				<tr>
					<th class="text-center">Search Results</th>
				</tr>
			</thead>
			<tbody id="emailsTableBody">
			</tbody>
		</table>
		<div class="container w-50 mt-5 not-displayed" id="infoContainer">
			<table class="table col-12 mt-5" id="sellerTable">
				<tbody id="sellerTableBody">
					<tr>
				 		<th>Name</th>
				        <td id="name"></td>
				    </tr>
				    <tr>
				 		<th>Email</th>
				        <td id="email"></td>
				    </tr>
				    <tr>
				 		<th>Rating</th>
				        <td id="rating"></td>
				    </tr>
				    <tr>
				 		<th>Date Joined</th>
				        <td id="dateJoined"></td>
				    </tr>
				</tbody>
			</table>
	    </div>
	    <div class="form-group container w-50 text-center not-displayed mt-5" id="reviewForm" onsubmit="return false">
	    	<div class="container-fluid">
		    	<label for="reviewText"><b>Leave a Review</b></label>
		    </div>
		    <div class="container-fluid">
		    	<textarea class="form-control" id="reviewText" rows="3"></textarea>
		    </div>
		    <div class="container-fluid mt-2">
		    	<label for="rating"><b>Rate</b></label>
		    </div>
		    <div class="container-fluid">
			    <select class="custom-select w-25" id="score">
			      <option>1</option>
			      <option>2</option>
			      <option>3</option>
			      <option>4</option>
			      <option>5</option>
			    </select>
			</div>
			<div class="container-fluid">
		    	<button class="btn btn-secondary mt-3" id="reviewSubmit">Submit Review</button>
		    </div>
		</div>
		<div class="container text-center mt-5 not-displayed" id="reviewsContainer"><h5>Reviews</h5></div>
	    <div class="container d-flex justify-content-center">
			<table class="table table-striped col-8 mt-3 not-displayed" id="reviewsTable">
				<thead>
			    	<tr>
			        	<th class="text-center">Email</th>
			        	<th class="text-center">Comment</th>
			      	</tr>
				</thead>
				<tbody id="reviewsTableBody">
				</tbody>
			</table>
		</div>
		<div id="snackbar"></div>
	</body>
	<script src="{{url_for('static', filename='js/utils.js')}}"></script>
	<script src="{{url_for('static', filename='js/seller.js')}}"></script>
</html>
